@use "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #101010;
}

.app {
  width: calc(100% - 2em);
  max-width: 640px;
  margin: 3em auto;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5em;
  @media (orientation: portrait) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  $g: &;
  width: 100%;
  perspective: 1000px;
  position: relative;
  @include mixins.transition(opacity);
  @include mixins.rounded;
  overflow: hidden;
  &--rotated {
    #{$g}__wrapper {
      transform: rotateY(180deg);
    }
  }
  &--hidden {
    opacity: 0.5;
  }
  &--rotated,
  &--hidden {
    pointer-events: none;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}

.card__wrapper {
  transform-style: preserve-3d;
  @include mixins.transition(transform);
  position: absolute;
  z-index: 9;
}

.card__reverse {
  background-color: #faf8ff;
  color: #101010;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(-180deg);
}

.card__obverse {
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
  @include mixins.hover-primary;
}

.card {
  &__wrapper,
  &__reverse,
  &__obverse {
    width: 100%;
    height: 100%;
  }
}

.card__flag {
  img {
    display: block;
    width: 5em;
    max-width: 90%;
    height: auto;
    margin: 0 auto 0.5em;
  }
}

.card__name {
  text-align: center;
  max-width: 90%;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2em;
  color: #7d7c7c;
  font-weight: 600;
}

.restart-btn {
  @include mixins.hover-primary(#009469);
  @include mixins.rounded;
  display: block;
  padding: 1em 2em;
  border: 0;
  font-family: inherit;
  font-weight: 600;
  color: #fff;
  margin: 2em auto 0;
}

.with-icon {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.5em;
    font-size: 20px;
  }
}
