$color: #007cff;

@mixin hover-primary($c: $color) {
  background-color: $c;
  transition: 200ms background-color ease;
  cursor: pointer;
  &:hover {
    background-color: darken($c, 5%);
  }
  &:active {
    background-color: darken($c, 10%);
    transition-duration: 10ms;
  }
}

@mixin transition($property) {
  transition: 300ms $property ease;
}

@mixin rounded {
  border-radius: 3px;
}
